/* Style for the Quiz start and Retake button */
.button {
  background-color: rgb(255, 99, 71);
  margin: 30px auto 0;
  padding: 19px;
  border-radius: 50px;
  color: white;
  font-family: "GothamBook", Georgia, Times, serif;
  width: 225px;
  cursor: pointer;
  margin: auto;
}
