/* Contains container and global styles */

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

div {
  display: block;
}

#root {
  background: #f1f1f1;
}

.container {
  max-width: 946px;
  max-height: 100%;
  margin: auto;
  overflow: hidden;
  overflow-y: visible;
  background: white;
  user-select: none;
  font-family: "Gotham", Arial, serif;
  color: white;
}

.slidesContainer {
  will-change: transform;
  transition: transform 0.4s ease;
  height: 100vh;
  white-space: nowrap;
}

.title {
  font-family: "GothamBold", Arial, serif;
  font-size: 48px;
}

.body-copy {
  font-family: "GothamBook", Arial, serif;
  font-size: 16px;
  margin: 35px auto;
}

/* Media Queries */
@media (min-width: 950px) and (min-height: 750px) {
  .slidesContainer {
    height: 600px;
  }
}
/* Animations */

/* Next Slide Button Animation */
@keyframes nextSlideBounce {
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  70% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }
  80% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* Fonts & icons */
@font-face {
  font-family: quiz;
  src: url(../src/assets/fonts/quiz.eot?cgliak);
  src: url(../src/assets/fonts/quiz.eot?cgliak#iefix)
      format("embedded-opentype"),
    url(../src/assets/fonts/quiz.ttf?cgliak) format("truetype"),
    url(../src/assets/fonts/quiz.woff?cgliak) format("woff"),
    url(../src/assets/fonts/quiz.svg?cgliak#quiz) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gotham;
  font-style: "normal";
  font-weight: "normal";
  src: url(../src/assets/fonts/Gotham/Gotham-Medium.eot);
  src: url(../src/assets/fonts/Gotham/Gotham-Medium.eot?#iefix)
      format("embedded-opentype"),
    url(../src/assets/fonts/Gotham/Gotham-Medium.woff) format("woff"),
    url(../src/assets/fonts/Gotham/Gotham-Medium.svg#Gotham-Regular)
      format("svg"),
    url(../src/assets/fonts/Gotham/Gotham-Medium.ttf) format("truetype");
}

@font-face {
  font-family: GothamBold;
  font-style: "normal";
  font-weight: "normal";
  src: url(../src/assets/fonts/Gotham/Gotham-Bold.eot);
  src: url(../src/assets/fonts/Gotham/Gotham-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(../src/assets/fonts/Gotham/Gotham-Bold.woff) format("woff"),
    url(../src/assets/fonts/Gotham/Gotham-Bold.svg#Gotham-Bold) format("svg"),
    url(../src/assets/fonts/Gotham/Gotham-Bold.ttf) format("truetype");
}

@font-face {
  font-family: GothamBook;
  font-style: "normal";
  font-weight: "normal";
  src: url(../src/assets/fonts/Gotham/Gotham-Book.eot);
  src: url(../src/assets/fonts/Gotham/Gotham-Book.eot?#iefix)
      format("embedded-opentype"),
    url(../src/assets/fonts/Gotham/Gotham-Book.woff) format("woff"),
    url(../src/assets/fonts/Gotham/Gotham-Book.svg#Gotham-Book) format("svg"),
    url(../src/assets/fonts/Gotham/Gotham-Book.ttf) format("truetype");
}
