/* Contains all the styling for the Slide component, including it's child components (answers, right-wrong, etc) */

.slide {
  width: 100%;
  height: 100%;
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slide.first,
.slide.last {
  margin: auto;
  background-size: cover;
  background-position: 50% 50%;
}

.slide__container {
  display: flex;
  flex-flow: column;
  margin: auto;
  text-align: center;
  max-width: 90%;
  margin-top: 15%;
}

.bg-image-container {
  background: grey;
  color: rgb(255, 255, 255);
  display: block;
  font-size: 16px;
  height: 100%;
  line-height: 26px;
  position: relative;
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.bg-image-container__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

.answer {
  position: absolute;
  width: 100%;
  top: 70px;
  display: flex;
  justify-content: space-evenly;
  padding: 15px 0;
}

.answer__button {
  padding: 19px 0;
  background: rgba(0, 0, 0, 0.82);
  color: white;
  border-radius: 50px;
  cursor: pointer;
  font-family: "GothamBook", Arial, serif;
  font-size: 15px;
  width: 22%;
  text-align: center;
  transition: all 0.4s ease;
}

.answer__button:hover {
  background: rgb(255, 99, 71);
}

.progress {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 55px;
  width: 55px;
  z-index: 3;
}

.progress__inner {
  background: rgba(0, 0, 0, 0.82);
  padding: 6px;
}

.question-number {
  border-bottom: 1px solid rgba(255, 255, 255, 0.17);
}

.question-number,
.question-total {
  text-align: center;
  font-family: "GothamBook", Arial, serif;
  line-height: 23px;
}

.next-slide {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.82);
  height: 50px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
  font-family: quiz;
}

.next-slide:before {
  display: block;
  position: absolute;
  content: "\e901";
  font-size: 33px;
  top: 6px;
  left: 10px;
  animation-name: nextSlideBounce;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  will-change: transform;
}

.right-wrong {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  font-family: "quiz";
  z-index: 2;
}

.right-wrong--right {
  background: #03bb2e;
}

.right-wrong--wrong {
  background: tomato;
}

.slide .right-wrong--wrong:before {
  content: "\e900";
}

.slide .right-wrong--right:before {
  content: "\e902";
}

.right-wrong:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px;
}

.QandA {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.82);
  display: flex;
  margin: auto;
  padding: 10px;
  transform: scaleY(1);
  transition: transform 0.4s;
  transform-origin: top;
}

.QandA__inner {
  font-size: 16px;
  line-height: 23px;
  font-family: "GothamBook", Arial, serif;
  margin: auto;
  text-align: center;
}

/* Supports */

@supports (-ms-accelerator: true) {
  /* Edge only - doesn't support justify-content 'space-evenly' so using fallback */

  .answer {
    justify-content: space-around;
  }
}

/* Media Queries */

@media (min-width: 600px) and (max-width: 740px) {
  .answer {
    flex-flow: column;
    left: 20px;
  }

  .answer__button {
    width: 30%;
    margin: 7px 0;
  }
}

@media (max-width: 600px) {
  .bg-image-container,
  .answer {
    position: relative;
  }

  .QandA__inner {
    font-size: 15px;
  }

  .bg-image-container {
    height: 45%;
  }

  .right-wrong {
    height: 100px;
    width: 100px;
  }

  .right-wrong:before {
    font-size: 60px;
  }

  .answer {
    flex-flow: column;
    align-items: center;
    top: 0;
  }

  .answer__button {
    width: 70%;
    margin: 7px 0;
    padding: 15px;
  }

  .next-slide {
    right: 0;
    left: 0;
    bottom: unset;
    margin: 25px auto 0;
  }
}

@media (max-height: 700px) and (max-width: 400px) {
  .bg-image-container {
    height: 50%;
  }
}

@media (min-width: 400px) and (max-width: 740px) and (max-height: 450px) {
  .progress {
    top: 90px;
    right: 20px;
    left: unset;
  }
}
